body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
}

.container {
    position: relative;
    z-index: 1;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #333;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fact-display {
    margin: 20px 0;
    font-size: 1.2em;
    color: #555;
    animation: fadeIn 1s ease-in-out;
}

.generate-btn {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.generate-btn:hover {
    background-color: #0ba3fc;
    transform: scale(1.05);
}
